<!DOCTYPE html>
<html>
<head>
	<title>LeaderBoard</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<style type="text/css">
		body { padding-top: 30px; } /*quick style fix for bootstrap nav bar*/
		@media (max-width: 520px) {
			body { padding-top: 60px; }
		}
	</style>
</head>

<body>
<!-- NavBar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	    <a class="navbar-brand" href="http://www.sky.com">
        <img alt="Brand" src="../images/sky.png" class="img-responsive" width="50" >
      </a>
	      <a class="navbar-brand" href="/">Rate our content</a>
	      <a class="navbar-brand" href="/upload">Upload</a>
	      <a class="navbar-brand" href="/leaders">Leaderboard</a>
	    </div>
	  </div>
	</nav>

	<div class="page-header text-center">
  <h1>SkyRatings <small>Leaderboard</small></h1>
</div>

{% for programme in programme_list %}
<div class="panel panel-default">
  <div class="panel-body">
			<div class="media">
	  		<div class="media-left">
		      <img class="media-object img-responsive" src="{{programme['img']}}" width="60" />
	  		</div>
	  			<div class="media-body">
	    			<h4 class="media-heading">{{programme['name']}} <p> 
	    			{% for star in range(0, programme['stars']) %}
			        <i class='glyphicon glyphicon-star'></i>
	        	{% endfor %} </h4>
	  			</div>
			</div>
  </div>
</div>
</div>
{% endfor %}
</body>
</html>